<article class="sensor-cell">
    <p class="sensor-val">{{ steps() }}</p>
    <p class="sensor-name">PASOS</p>
</article>

<article class="sensor-cell">
    <p class="sensor-val">{{ heading() | number: '1.0-0' }}°</p>
    <p class="sensor-name">RUMBO</p>
</article>

<article class="sensor-cell">
    <p class="sensor-val">{{ distanceM() | number: '1.1-1' }}</p>
    <p class="sensor-name">METROS</p>
</article>

<article class="sensor-cell">
    <p class="sensor-val">{{ driftM() | number: '1.1-1' }}</p>
    <p class="sensor-name">ERROR</p>
</article>